.content{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 75px 15px;
    /* background-color: #777777;  */
    display: block;
    justify-content: center;
}
.about h1{
    padding:10px 10%;
    color: white;
    float: left;
}

.about p{
    padding: 15px 100px 15px 200px;
    color: white;
    text-align: left;
}