.content{
    border-bottom: 1px solid white;
}
.skills h1{
    padding:30px 30px 0 30px;
    color: white;
}

.skills p{
    padding: 0 30px;
    color: white;
}
.skills ul{
    justify-content: center;
    border-spacing: 10px;
    display: flex;
    padding: 10px;
}
.skills li{
    list-style: none;
    color: white;
    border: 2px solid;
    padding: 10px;
    width: 10%;
    margin: 5px 10px;
}